<!DOCTYPE html>
<html>
 
<head>
    <title>New Booking</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="../public/styles.css" rel="stylesheet" type="text/css">
 </head>
 
<body>
    <div class="container">
        <%- include('header'); %>
        <h2>Edit Booking</h2>
        <form action="http://localhost:3000/booking/<%= id %>" method="POST">
            <input type="text" name="client_id" value="<%= client_id %>" hidden><br>
            <input type="text" name="is_eu_client" value="<%= is_eu_client %>" hidden><br>
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= name %>"><br>
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= email %>"><br>
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" value="<%= phone %>"><br>
            <label for="address">Home Address</label>
            <input type="text" name="address" value="<%= address %>"><br>
            <label for="phone">Date of Birth</label>
            <input type="date" name="date_of_birth" value="<%= date_of_birth %>"><br>
            <label for="car_code">Car Code</label>
            <input type="text" name="car_code" value="<%= car_code %>"><br>
            <label for="rental_date">Rental Date</label>
            <input type="date" name="rental_date" value="<%= rental_date %>"><br>
            <input type="submit">
        </form>
    </div>
</body>
 
</html>