<html>
  <head>
    <title> Bookings </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="../public/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%- include('header'); %>
      <h3>Booking Results for <%= keyword %></h3>
      <%= (count == 0 ) ? "No search result found.":"" %>
      <% for(var i in search_results) { %>
          <a href="/booking/<%= search_results[i].id %>">
          <li><%= i+1 %> </a>| booking code : <%= search_results[i].car_code %></li>
      <% } %><br>
  </div>
  </body>
</html>
