<html>
  <head>
    <title> Clients </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="../public/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h3>Booking Results for <%= keyword %></h3>
      <% for(var i = 0; i < results.length; i++){ %>
            <a href="/client/<%= results[i].id %>">
            <li>id : <%= i+1 %> </a>| name : <%= results[i].name %> | email : <%= results[i].email %></li>
      <% } %><br>

  </div>
  </body>
</html>
